*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f9f7f6;
	color: #404d5b;
	font-weight: 300;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
}
.content::after {
	content: "";
	clear: both;
	font-size: 0;
	height: 0;
	visibility: hidden;
	display: block;
}

.svg-wrap {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

a {
	color: #404d5b;
	text-decoration: none;
	outline: none;
}

ul {
	padding: 0;
	list-style: none;
}

section {
	padding: 6em 2em;
}

section p, footer {
	font-size: 1.4em;
	line-height: 1.518;
	
}

footer {
	padding: 1em 2em 2em;
}e

footer ul {
	margin-top: 10px;
}

footer h4 {
	margin-bottom: 0;
}

.intro-text {
	float: left;
	max-width: 46%;
}

.inline-box {
	display: inline-block;
	float: right;
	padding-left: 50px;
}

.content-right {
	float: right;
}
.content-right .inline-box {
	text-align: right;
}
.content-left {
	float: left;
}
.content-left .inline-box {
	text-align: left;
	float: none;
	padding: 0;
}

form { padding-top: 30px; }

.content, .inline-box { height: 100%; }

.video-wrapper {
	width: 50%;
	float: right;
	position: relative;
	height: 350px;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; height: 100%;
}

/* Header */
.codrops-header {
	padding: 5em 2em;
	letter-spacing: -1px;
}

.codrops-header h1 {
	max-width: 1200px;
	margin: 0 auto;
	font-weight: 800;
	font-size: 4em;
	line-height: 1;
	font-family: 'Pacifico', Arial, sans-serif;
	/* text-align: center; */
}

.codrops-header h1 span {
	display: block;
	font-size: 50%;
	font-weight: 400;
	padding-top: 0.325em;
	color: #c3c8cd;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
	color: #34495e;
}

.codrops-top a:hover,
.codrops-top a:focus {
	color: #fb6859;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	text-align: center;
}

.related p {
	padding: 2em 0;
	font-size: 2em;
	font-weight: 500;
}

.related > a {
	border: 1px solid #333;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	white-space: pre-line;
}

.related a:hover {
	border-color: #333;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	font-size: 1.2em;
	text-align: left;
}

.fb-frame-l {
	width: 185px;
}
#twitter-widget-0 {
	width: 110px !important;
}

@media screen and (max-width: 1120px) {
	footer {
		padding: 1em 1em;
		font-size: 100%
	}
	
	form {
		padding-top: 20px;
	}
}

@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
		padding: 6em 2em;
	}
	
	section p {
		max-width: 100%;
	}
	.intro-text {
		max-width: 100%;
		padding-bottom: 20px;
	}
	.video-wrapper {
		width: 100%;
		height: 320px;
	}
	.inline-box {
		float: none;
		display: block;
		width: 100%;
		text-align: center !important;
		padding-left: 0;
	}
	.content-left, .content-right { 
		float: none;
		clear: both;
	}
	form {
		padding-top: 10px;
	}
	
	.video-wrapper, .intro-text, section p { float: none; }
}




@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

.info {
	padding: 30px;
	font-size: 100%;
	text-align: center;
	background: #222;
}
.info, .info a {
	color: #aaa;
}
.info a:hover {
	color: #ccc !important;
}
.btn {
	display: inline-block;
	padding: 6px 15px;
	margin-top: 40px;
	background: #ff8888;
	color: #fff;
	border-radius: 3px;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;

}
.btn:hover {
	background: #ff9999;
}
.dark {
	color: #fff;
	background: #444;
}
.acao-btn {
	width: 240px; height: 60px;
	margin-top: 30px;
	display: block;
	background: url(../img/acao-btn.jpg) no-repeat;
	border-radius: 5px;
}
.acao-btn:hover, .acao-btn:focus {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
}
.acao-btn::before {
	width: 0 !important; height: 0 !important;
	border: none !important;
}

.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:10px;
	line-height: 18px;
}
.notice {
	background:#e3f7fc url('../img/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.english, .portuguese { position: relative; }
.english .btn, .portuguese .btn {
	position: absolute;
    display: block;
    left: 50%;
    top: 10px;
}
.english .btn { margin-left: -63.664px; }
.portuguese .btn { margin-left: -60.75px; }
.bold { font-weight: bold !important; }
