////////////////////////////////////////////////////////////////////////////////
//  Typography
////////////////////////////////////////////////////////////////////////////////

$base-font-size: 14px;
$baseline: 21px;

////////////////////////////////////////////////////////////////////////////////
//  Grid
////////////////////////////////////////////////////////////////////////////////

$grid-column-width: 65px;
$grid-gutter-width: 20px;
$grid-size: 12;

$break-small: 568px;
$break-extra-small: 479px;
$break-large: 768px;
$break-extra-large: 1024px;

////////////////////////////////////////////////////////////////////////////////
//  Colors
////////////////////////////////////////////////////////////////////////////////

// $body-color: hsl(0,0%,38%);
$body-color: #898989;
$dark-title-color: hsl(0,0%,25%);
$green-color: #F3CB6D;
$blue-color: #0e83cd;
$link-color: $body-color;
$link-hover-color: #bbbbff;
$link-active-color: darken($link-color, +10%);
$link-visited-color: $link-color;

////////////////////////////////////////////////////////////////////////////////
//  Animation
////////////////////////////////////////////////////////////////////////////////

$t-fast: all 100ms linear;
$t-medium: all 200ms linear;
$delayFast: 150ms;

