.site-content {
    @extend %clearfix;
    //padding-bottom: 2*$baseline;
}

.site-content-block {
    @extend %centered-content;
    @extend %clearfix;
    //padding: 0 em(20px);
}

.content-size {
    @extend %max-width;
}

.overlay{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 3;
  background: rgba(#000,.83);
  background: -moz-linear-gradient(45deg,  rgba(34,20,53,.9) 0%, rgba(0,0,0,.9) 100%); 
  background: -webkit-linear-gradient(45deg,  rgba(34,20,53,.9) 0%,rgba(0,0,0,.9) 100%); 
  background: linear-gradient(45deg,  rgba(34,20,53,.9) 0%,rgba(0,0,0,.9) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6221435', endColorstr='#e6000000',GradientType=1 ); 


  &.g {
    background: rgba(#000,.83);
    background: -webkit-linear-gradient(bottom left, rgba(34,32,69,.9) 0%, rgba(184,90,88,.9) 100%);
    background: -o-linear-gradient(bottom left, rgba(34,32,69,.9) 0%, rgba(184,90,88,.9) 100%);
    background: linear-gradient(to top right, rgba(34,32,69,.9) 0%, rgba(184,90,88,.9) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc222045', endColorstr='#ccb85a58',GradientType=1 ); 
  }
  &.a {
    background: -moz-linear-gradient(45deg,  rgba(52,39,56,0.9) 0%, rgba(229,64,73,0.9) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(52,39,56,0.9) 0%,rgba(229,64,73,0.9) 100%);
    background: linear-gradient(45deg,  rgba(52,39,56,0.9) 0%,rgba(229,64,73,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6342738', endColorstr='#e6e54049',GradientType=1 );
  }
}

// * {
//    box-sizing: border-box;
// }

// .site-side-content {
//     width: columns_grid(3);
//     float: left;

//     .dir-rtl & {
//         float: right;
//     }
// }

// .site-main-content {
//     width: columns_grid($grid-size);
//     float: right;

//     .dir-rtl & {
//         float: left;
//     }
// }

// .site-side-content + .site-main-content {
//     width: columns_grid(9);
// }

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0,0,0, 0.8) url(../assets/images/svg/arrow-up.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 999;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}