// <footer class="site-footer">
//     <div class="site-content-block content-size">
//         <nav class="footer-menu">
//             <ul class="footer-list">
//                 <li class="footer-item">
//                     <a href="#" class="footer-item-link">Site Antigo</a>
//                 </li>
//                 <li class="footer-item">
//                     <a href="#" class="footer-item-link">English version</a>
//                 </li>
//                 <li class="footer-item">
//                     <a href="#" class="footer-item-link">Facebook</a>
//                 </li>
//                 <li class="footer-item">
//                     <a href="#" class="footer-item-link">Twitter</a>
//                 </li>
//                 <li class="footer-item"
//                     <a href="#" class="footer-item-link">GitHub</a>
//                 </li>
//             </ul>
//         </nav>
//     </div>
// </footer>

.site-footer {
	//padding: em(40px) 0;
    //background: #151515;
    //text-align: center;
    color: #888;
}
.column-links, .column-info, .column-face {
	@extend %f-left;
	width: 33.33333%;
	// @media screen and (max-width: $break-small) {
	// 	width: 100%;
	// 	margin-top: em(66px);
	// 	&:first-child {
	// 		margin: 0;
	// 	}
	// }
	// @media screen and (max-width: $break-extra-large) {
	// 	//text-align: center;
	// }
}
.column-links {
	@media screen and (max-width: $break-extra-large) {
		width: 20%;
	}
}
.column-info {
	@media screen and (max-width: $break-extra-large) {
		width: 30%;
	}
}
.column-links, .column-info {
	@media screen and (max-width: $break-large) {
		width: 50%;
	}
	@media screen and (max-width: $break-small) {
		width: 100%;
		float: none;
	}
}
.column-info {
	@media screen and (max-width: $break-small) {
		margin-top: em(66px);
	}
}
.column-face {
	@media screen and (max-width: $break-extra-large) {
		width: 50%;
		text-align: center;
	}
	@media screen and (max-width: $break-large) {
		width: 100%;
		text-align: left;
		clear: both;
		margin-top: em(66px);
	}
}
//.footer-menu {
	//text-align: center;
//}
// .footer-links {
// 	@extend %f-left;
// }
.footer-list {
	@extend %unstyled-list;
	//font-size: 0;
}
.footer-list-title {
	font-family: "National Medium";
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 1px;
	padding: 0 0 12px;
	margin: 0;
	color: #494949;
	text-transform: uppercase;
}
.footer-item {
	padding: 4px 0;
	font-size: 18px;
	line-height: 30px;
	// color: #898989;
	//display: inline-block;
	//margin-left: 30px;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
	&:nth-of-type(1) {
        animation-delay: $delayFast;
    }
	&:nth-of-type(2) {
        animation-delay: $delayFast*2;
    }
    &:nth-of-type(3) {
        animation-delay: $delayFast*3;
    }
    &:nth-of-type(4) {
        animation-delay: $delayFast*4;
    }
	@media screen and (max-width: $break-small) { 
        display: block;
        margin: 0;
    }
}
.footer-item-link, .social-icon {
	//text-transform: uppercase;
	//color: #898989;
	@extend %text-decoration-none;
	@extend %basic-transition;
}

.social-icon {
	display: inline-block;
    margin: 5px 15px 5px 0;
    //font-size: 16px;
    line-height: 100%;
}

.icon-facebook {
	&:hover {
		color: #3b5998;
	}
}
.icon-twitter {
	&:hover {
		color: #55acee;
	}
}
.icon-google-plus {
	&:hover {
		color: #dd4b39;
	}
}
.icon-instagram {
	&:hover {
		color: #125688;
	}
}
.icon-youtube {
	&:hover {
		color: #bb0000;
	}
}
.icon-github {
	&:hover {
		color: #000;
	}
}

.first-footer {
	padding-top: em(66px);
	padding-bottom: em(66px);
}

.under-footer {
	padding: 16px 0;
	background: #191919;
}
.copyright-info {
	@extend %text-align-center;
	margin: 0; padding: 0;
	color: #888;
}
.heart {
  font-size: 16px; color: #CC4436; display: inline-block;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  -webkit-animation: heart .6s infinite linear alternate-reverse;
  -moz-animation: heart .6s infinite linear alternate-reverse;
  -o-animation: heart .6s infinite linear alternate-reverse;
  -ms-animation: heart .6s infinite linear alternate-reverse;
  animation: heart .6s infinite linear alternate-reverse;
}

@-webkit-keyframes heart {
    to {-webkit-transform: scale(1.1);}
}

@-moz-keyframes heart {
    to {-moz-transform: scale(1.2);}
}
@keyframes heart {
    to {transform: scale(1.2);}
}

.white {
	color: #fff;
	@extend %text-decoration-none;
	@extend %basic-transition;
	&:hover {
		color: #ff7979;
	}
}