// <header class="site-header">
//     <div class="highlight">
//         <!-- <a class="language-btn btn" href="#">
//             English Version
//         </a> -->

//         <div class="logo">
//             <img class="logo-img" src="logo.png" alt="Ajude-me a Vencer o Câncer - A Vida Continua">
//         </div>

//         <a class="watch-btn btn" href="#">
//             Assistir o Vídeo
//         </a>
//     </div>
// </header>

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.iframer-container {
    display: none;
    position: fixed;
    padding-bottom: 56.25%; /* 16:9 */
    //padding-top: 25px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2147483600;
    background-color: rgba(0, 0, 0, 0.95);
}
.iframer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: em(72px) em(72px) em(28px);
}

.closer {
    width: 36px;
    height: 36px;
    line-height: 32px;
    border-radius: 24px;
    border: 2px solid #aaa;
    color: #aaa;
    @extend %text-align-center;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: .5;
    font-size: 18px;
    &:hover {
        color: #ddd;
        border-color: #ddd;
    }
}

.download-modal-bt {
    @extend %primary-bt;
    border: 2px solid hsl(42, 84%, 69%);
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.site-header {
    // @extend %dark-background;
    background: url(../assets/images/bg/bg1.jpg) no-repeat top center fixed;
    background-size: cover;
    @extend %text-align-center;
    @media screen and (max-width: $break-extra-large) { 
        background-attachment: scroll;
    }
}

.highlight {
    width: 100%;
    min-height: 760px;
    position: relative;
    @media screen and (max-width: $break-small) {
        //padding-bottom: em(38px);
        min-height: 576px;
    }
}

.highlight-content {
    @extend %centered-content;
}

.logo {
    max-width: 720px;
    margin: 0 auto;
    padding: em(200px) em(30px) em(100px);
    @media screen and (max-width: $break-small) {
        padding: em(200px) 0;
    }
}

.logo-img {
    @extend %auto-resize-image;
}
.watch-bt {
    @extend %primary-bt;
    //margin-bottom: em(176px);
    @media screen and (max-width: $break-small) {
        position: relative;
        bottom: 38px; left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 22px;
        padding: 8px;
        color: #111;
        background: $green-color;
        &:hover {
            background: transparent;
            color: $green-color;
        }
    }
}
.language-bt {
    z-index: 2;
    @extend %primary-bt;
    //@extend %transition-fast;
    position: absolute;
    top: 20px; left: 20px;
    padding: 8px 12px;
    font: normal 16px 'proxima_nova_ththin';
    line-height: 24px;
    border: 1px solid rgba(#fff, 0.2);
    color: #bbb;
    &:hover {
        background: transparent;
        border-color: rgba(#fff,.6);
        color: #fff;
    }
    @media screen and (max-width: $break-small) {
        width: 100%;
        font-family: "National Medium";
        position: relative;
        top: 38px; left: 0;
        font-size: 14px;
        line-height: 22px;
        padding: 8px;
        color: $green-color;
        background: transparent;
        border-color: hsla(42, 84%, 69%, .59);
        &:hover {
            background: $green-color;
            border-color: $green-color;
            color: #111;
        }
    }
}

.social-buttons-list {
    @extend %unstyled-list;
    position: absolute;
    top: 26px; right: 20px;
    @media screen and (max-width: $break-small) {
        display: none;
    }
}
.social-item {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    &:first-child {
        margin: 0;
    }
}
.fb-item {
    top: -5px;
}
.twitter-item {
    top: 1px;
}
.google-item {
    top: 3px;
}

// <nav class="site-nav">
//     <a class="site-logo">
//         <img class="logo-nav" src="assets/images/samples/logo-nav.svg" alt="Logo">
//     </a>

//     <ul class="site-nav-categories">
//         <li class="site-nav-category site-nav-category-home">
//             <a href="#">Home</a>
//         </li>
//         <li class="site-nav-category site-nav-category-adoenca">
//             <a href="#">A Doença</a>
//         </li>
//         <li class="site-nav-category site-nav-category-historia">
//             <a href="#">História</a>
//         </li>
//         <li class="site-nav-category site-nav-category-imprensa">
//             <a href="#">Imprensa</a>
//         </li>
//     </ul>
// </nav>

// .menu-toggle {
//     display: none;
//     width: 50px; height: 50px;
//     background: rgba(0, 0, 0, .6);
//     position: absolute;
//     top: 180px;  left: 50%;
//     margin-left: -25px;
//     cursor: pointer;
//     z-index: 99999;
//     border-radius: 50%;
//     text-align: center;
//     line-height: 50px;
//     font-size: 18px;
//     @media screen and (max-width: $break-small) {
//         display: block;
//     }
// }

// -----

// ul.topnav {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: #333;
// }

// ul.topnav li {float: left;}

// ul.topnav li a {
//   display: inline-block;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   transition: 0.3s;
//   font-size: 17px;
// }

// ul.topnav li a:hover {background-color: #111;}

// .push {display: none;}

// @media screen and (max-width: $break-extra-large) {
//   ul.topnav li:not(:first-child) {display: none;}
//   .push {
//     position: absolute;
//     right: 0;
//     line-height: 55px;
//     padding: 0 10px;
//     display: inline-block;
//     text-decoration: none;
//     background: #ff9999;
//     color: #fff !important;
//   }
// }

// @media screen and (max-width: $break-extra-large) {
//   ul.topnav.responsive {position: relative; width: 100%;}
//   // .push {
//   //   position: relative;
//   //   right: 0;
//   //   top: 0;
//   // }
//   ul.topnav.responsive li {
//     float: none;
//     display: inline;
//   }
//   ul.topnav.responsive li a {
//     display: block;
//     //text-align: left;
//   }
// }

// -----

.site-nav {
    width: 100%; height: 55px;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
    position: fixed;
    top: -55px; left: 0;
    z-index: 9998;
    @extend %text-align-center;
    //background: #eee;
    @media screen and (max-width: $break-extra-large) {
        //display: none;
        position: static;
        box-shadow: none;
        height: auto;
        //top: 30px; 
        //background: #000;
        font-size: 0;
        //width: 180px;
        text-align: left;
        padding: 50px 46px 0;
    }
    @media screen and (min-width: 1025px) {
        text-align: center;
    }
}

// .menu-visible {
//    //top: 30px;
// }

.push {
    display: none;
    font-size: 15px;
    //line-height: 16px;
    @extend %text-decoration-none;
    color: #898989 !important;
    @media screen and (max-width: $break-extra-large) {
        display: inline-block;
    }
}

.push-icon {
    top: 2px;
}

.site-nav-categories {
    @extend %unstyled-list, %clearfix;
    animation-duration: 400ms;
    @media screen and (max-width: $break-extra-large) {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    @media screen and (min-width: 1025px) {
        display: inline-block !important;
    }
}

.site-nav-category {
    float: left;
    width: 70px; //fix space
    @media screen and (max-width: $break-extra-large) {
        width: 100%;
        border-top: 1px solid #dfdfdf;
        //margin: 0 20px;
        &:first-child {
            border: none;
        }
    }
    a {
        //display: inline-block;
        text-transform: uppercase;
        @extend %text-decoration-none;
        font-size: 12px;
        line-height: 55px;
        letter-spacing: 1px;
        @extend %basic-transition;
        @media screen and (max-width: $break-extra-large) {
            font-size: 14px;
            display: block;
            padding-left: 28px;
            //position: relative;
            //line-height: 48px;
            //padding: 20px 0;
        }

        &.active {
            color: $link-hover-color;
            //border-bottom: 1px solid $link-hover-color;
        }
    }
}

// .itens-icon {
//     position: absolute;
//     right: 30px;
//     top: 20px;
//     font-size: 15px;
//     @media screen and (min-width: 1025px) {
//         display: none;
//     }
// }

.site-nav-category-adoenca {
    margin: 0 63px 0 50px;
    @media screen and (max-width: $break-extra-large) {
        margin: 0;
        //margin: 0 23px 0 10px;
    }
}
.site-nav-category-historia {
    margin: 0 50px 0 63px;
    @media screen and (max-width: $break-extra-large) {
        margin: 0;
        //margin: 0 10px 0 23px;
    }
}

.site-logo {
    @extend %block;
    z-index: 9999;
    position: absolute; 
    top: 9px; left: 50%;
    margin-left: -13px;
    @media screen and (max-width: $break-extra-large) {
        display: none;
    }
}

.logo-nav {
    @extend %block;
    width: 26px;
}

