// <section id="doacao" class="section-content">
//     <ul class="doacao-list">
//         <li class="doacao-item">
//             <h3 class="doacao-title">BB</h3>
//             <p class="doacao-info">
//                 Agência: 102015-3 <br>
//                 C. Corrente: 5745-2 <br>
//                 CPF: 033.020.920-59 <br>
//                 Leonardo Konarzewski
//             </p>
//         </li>
//         <li class="doacao-item">
//             <h3 class="doacao-title">Banrisul</h3>
//             <p class="doacao-info">
//                 Agência: 102015-3 <br>
//                 C. Corrente: 5745-2 <br>
//                 CPF: 033.020.920-59 <br>
//                 Leonardo Konarzewski
//             </p>
//         </li>
//         <li class="doacao-item">
//             <h3 class="doacao-title">Itaú</h3>
//             <p class="doacao-info">
//                 Agência: 102015-3 <br>
//                 C. Corrente: 5745-2 <br>
//                 CPF: 033.020.920-59 <br>
//                 Leonardo Konarzewski
//             </p>
//         </li>
//         <li class="doacao-item">
//             <h3 class="doacao-title">GoFundMe</h3>

//         </li>
//         <li class="doacao-item">
//             <h3 class="doacao-title">PayPal</h3>
            
//         </li>
//         <li class="doacao-item">
//             <h3 class="doacao-title">PagSeguro</h3>
           
//         </li>
//     </ul>
// </section>

#doacao {
    @extend %section-box;
    padding-top: em(100px);
}

#doacao, .doacao-list {
    @extend %clearfix;
}

.doacao-list {
    @extend %unstyled-list;
    // &::after {
    //     content: "";
    //     width: 120px; height: 1px;
    //     display: block;
    //     position: relative;
    //     left: 50%; top: 61px;
    //     margin-left: -60px;
    //     background: $blue-color;
    //     @media screen and (max-width: $break-small) { 
    //         width: 60px; 
    //         margin-left: -30px;
    //     }
    // }
}

.doacao-item:last-child {
    @media screen and (max-width: $break-small) { 
        margin-bottom: 0;
    }
}

.doacao-item {
    width: 33.33333%; //height: 208px;
    float: left;
    @extend %text-align-center;
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
        margin-bottom: em(120px);
    } 
    @media screen and (max-width: $break-large) { 
        width: 50%; height: 166px;
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
            margin-bottom: em(90px);
        } 
     }
    @media screen and (max-width: $break-small) { 
        width: 100%; height: auto;
        float: none;
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            margin-bottom: em(45px);
        } 
    }
    &:nth-of-type(2) {
        animation-delay: $delayFast;
    }
    &:nth-of-type(3) {
        animation-delay: $delayFast * 2;
    }
    &:nth-of-type(4) {
        animation-delay: $delayFast * 3;
    }
    &:nth-of-type(5) {
        animation-delay: $delayFast * 4;
    }
    &:nth-of-type(6) {
        animation-delay: $delayFast * 5;
    }
}


.doacao-title {
    //font-family: "National Medium";
    font-size: 28px;
    line-height: 36px;
    color: $blue-color;
    //color: $dark-title-color;
    padding: 0 0 em(5px);
    margin: 0;
    // @media screen and (max-width: $break-large) { 
    //     font-size: 24px;
    //     line-height: 32px;
    // }
    @media screen and (max-width: $break-small) { 
        font-size: 28px;
        line-height: 36px;
    }
}
.doacao-info {
    @extend %fix-break;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    // @media screen and (max-width: $break-large) { 
    //     font-size: 18px;
    //     line-height: 26px;
    // }
    // @media screen and (max-width: $break-small) { 
    //     font-size: 22px;
    //     line-height: 30px;
    // }
}
.pay-button {
    padding-top: em(7px);
}



