#contato {
    @extend %section-box;
}

.contact-info {
    @extend %text-align-center;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    &:last-child {
        animation-delay: 150ms;
    }
}
.contact-link {
    @extend %text-decoration-none;
    @extend %basic-transition;
}