.button-content {
	@extend %centered-content;
	// &.fix-line {
	// 	@extend %fix-break;
	// 	@media screen and (max-width: $break-small) {
	//     	white-space: normal; 
	// 	}
	// }
}

#buttons, #buttons-a {
	position: relative;
	padding: em(34px) 0;
	//background: #000;
	@extend %text-align-center;
	background: url(../assets/images/bg/bg2.jpg) center center no-repeat fixed;
	background-size: cover;
	@media screen and (max-width: $break-extra-large) {
		padding: em(26px) 0;
		background-attachment: scroll;
	}
	@media screen and (max-width: $break-small) {
		padding: em(20px) 0;
	}
}
#buttons {
	margin-bottom: em(100px);
}
#buttons-a {
	background: url(../assets/images/bg/bg3.jpg) center center no-repeat fixed;
	background-size: cover;
	@media screen and (max-width: $break-extra-large) {
		background-attachment: scroll;
	}
}

.galeria-bt {
	@extend %inverted-bt;
	margin-right: em(10px);
	@media screen and (max-width: $break-small) {
		margin: 0 0 em(20px);
	}
}

.galeria-bt, .acao-bt {
	@extend %primary-bt;
	position: relative;
	z-index: 3;
	@media screen and (max-width: $break-small) {
		width: 100%;
		font-size: 14px;
        line-height: 22px;
        padding: 8px;
	}
}