$brand-bg: #f0f0f0;

// #agradecimentos {
//     @extend %section-box;
// }
.companies-list {
	@extend %clearfix;
	border-top: 1px solid $brand-bg;
	border-bottom: 1px solid $brand-bg;
	position: relative;
}

.first-slide, .second-slide {
	@extend %clearfix;
}

.companies-list-item {
	width: 25%; //height: 300px;
	float: left;
	font-size: 0;
	@extend %text-align-center;
	// &:nth-of-type(2) {
	// 	animation-delay: $delayFast;
	// }
	// &:nth-of-type(3) {
	// 	animation-delay: $delayFast * 2;
	// }
	// &:nth-of-type(4) {
	// 	animation-delay: $delayFast * 3;
	// }
	// &:nth-of-type(5) {
	// 	animation-delay: $delayFast * 4;
	// }
	// &:nth-of-type(6) {
	// 	animation-delay: $delayFast * 5;
	// }
	// &:nth-of-type(7) {
	// 	animation-delay: $delayFast * 6;
	// }
	// &:nth-of-type(8) {
	// 	animation-delay: $delayFast * 7;
	// }
	// &:nth-of-type(9) {
	// 	animation-delay: $delayFast * 8;
	// }
	// &:nth-of-type(10) {
	// 	animation-delay: $delayFast * 9;
	// }
	// &:nth-of-type(11) {
	// 	animation-delay: $delayFast * 10;
	// }
	// &:nth-of-type(12) {
	// 	animation-delay: $delayFast * 11;
	// }
	&:nth-of-type(2),
  	&:nth-of-type(4),
  	&:nth-of-type(5),
  	&:nth-of-type(7),
  	&:nth-of-type(10),
  	&:nth-of-type(12) {
        background: $brand-bg;
   	}
   	@media screen and (max-width: $break-extra-large) {
		width: 33.33333%;
		&:nth-child(even),
		&:nth-child(odd) {
		  background: none;
		}
		&:nth-of-type(2),
      	&:nth-of-type(4),
      	&:nth-of-type(6),
      	&:nth-of-type(8),
      	&:nth-of-type(10),
      	&:nth-of-type(12) {
            background: $brand-bg;
       	}
   	}
	@media screen and (max-width: $break-small) {
		width: 50%;
		&:nth-child(even),
		&:nth-child(odd) {
		  background: none;
		}
		&:nth-of-type(2),
      	&:nth-of-type(3),
      	&:nth-of-type(6),
      	&:nth-of-type(7),
      	&:nth-of-type(10),
      	&:nth-of-type(11) {
            background: $brand-bg;
       	}
	}
	// @media screen and (max-width: $break-extra-small) {
	// 	width: 100%;
	// 	&:nth-child(even) {
	// 	  background: none;
	// 	}
	// 	&:nth-child(odd) {
	// 	  background: $brand-bg ;
	// 	}
	// }
}
.brand-block {
	margin: 0;
}
.brand-link {
	display: block;
	// &:focus {
	// 	.brand-img {
	// 		@extend %grayscale-disable;
	//   		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	//   		filter: alpha(opacity=100); 
	//   		opacity: 1;
	// 	}
	// }
}
.brand-img {
	@extend %auto-resize-image, %grayscale, %transition-medium;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
  	filter: alpha(opacity=50); 
  	opacity: 0.5;
  	&:hover {
  		@extend %grayscale-disable;
  		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
  		filter: alpha(opacity=100); 
  		opacity: 1;
  	}
}
// .brand-link, .brand-img {
// 	display: block;

// }

// .show-hide-row {
// 	padding-top: 20px;
// 	text-align: right;
// }
// .see-more-bt {
// 	width: 56px; height: 56px;
// 	//background: #333;
// 	position: absolute;
// 	bottom: -86px; right: 30px;
// 	//margin-left: -25px;
// 	cursor: pointer;
// 	text-align: center;
// 	font-size: 32px;
// 	line-height: 56px;
// 	color: #ddd;
// 	border-radius: 50%;
// 	border: 1px solid #ddd;
// 	//display: inline-block;
// 	&:hover {
// 		background: #bbbbff;
// 		color: #fff;
// 	}
// 	//margin-right: 20px;
// }
